Flask==0.10.1
Flask-Admin==1.0.6
Flask-Assets==0.8
Flask-KVSession==0.4
Flask-Login==0.2.5
Flask-Script==0.5.3
Flask-WTF==0.8.4
Jinja2==2.7
MarkupSafe==0.18
WTForms==1.0.4
Werkzeug==0.9.1
itsdangerous==0.22
markdown2==2.1.0
raven==3.4.0
simplekv==0.6
webassets==0.8
wsgiref==0.1.2
