body{

}

ul.socialism{
	list-style-type: none;
	min-height:70px;
}
ul.socialism li {
	margin-bottom:20px;
	float:left;
	margin-right: 10px;
}
.main-content{
	margin-top: 60px;;
	padding-left: 0px;
	padding-right: 0px;
}

.profile{
	position: absolute;
	top: 70px;
	right: 20px;
	background-color: white;
	width: 180px;
	border-radius: 10px;
	padding: 20px;
}

#left-menu ul {
	list-style-type: none;
	margin-left:5px;
	padding-left:0;
}

#left-menu ul li {
	font-size: 12px;
	overflow-x: hidden;
	line-height: 15px;
	overflow-y: hidden;
	height: 20px;
}

#left-menu {  
    position:absolute;  
    top:150px;  
    left:10px;  
    /*margin-left:235px;  */
    width:200px;  
}  
#left-menu ul {  
    margin-bottom:20px;  
}  

#left-menu ul li a {  
    display:block;  
    border:1px solid #999;  
    /*background-color:#222;  */
    border-left:6px solid #999;  
    text-decoration:none;  
    color:#ccc;  
    padding:5px 5px 5px 25px;  
}  


.profile img{
	width:150px;
	margin-bottom: 20px;
}
.profile p{
	font-family: 'Amaranth','Domine',verdana,sans-serif;
	font-size: 25px;
	line-height: 30px;
}

.profile .keywords{
	font-family: 'Amaranth','Domine',verdana,sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
}
.profile .social{
	margin-bottom: 10px;
}



article, #disqus_thread, .socialism{
	box-shadow: 0 2px 4px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 4px rgba(34, 25, 25, 0.4);
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-right: 30px;
	border-radius: 1px;
	margin-bottom:10px;
	margin-top:10px;
	background-color: white;
	/*width:95%;*/
	margin-left:auto;
	margin-right: auto;
}

@media (min-width: 1200px) {
	/*#disqus_thread{
		width: 1024px;	
	}	*/
}
article span.pull-right{
	margin-right:5px;
}

article ,#disqus_thread {
	margin-left:200px;
}

article h1{
	font-family: 'Amaranth','Domine',verdana,sans-serif;
	font-size: 35px;
	line-height: 40px;
}

article h2 {
	font-family: 'Domine',verdana,sans-serif;
	font-size:21px;
    border-bottom: 1px solid darkgray;
    
    margin-bottom: 30px;
	margin-top: 30px;
}

article li {
	font-family: 'Domine',verdana,sans-serif;
	font-size:18px;
}


article p,.footer {
	font-family: 'Muli', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 29px;
}

article p {
	margin-bottom:15px;
	margin-top:15px;
}
article .article_date{
    font-weight: bolder;
    text-decoration: underline;
}

.footer i{
	margin-top:5px;
}
.articles a{
	font-family: 'Amaranth','Domine',verdana,sans-serif;
	font-size: 28px;
	padding: 10px 10px 10px 20px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 2px 4px rgba(34, 25, 25, 0.4);
	line-height: 35px;
	float:left;
	width:220px;
	min-height: 60px;
	margin-bottom: 10px;
}

.articles a:first-letter {
	text-transform: uppercase;
}
.articles a:hover{
    text-decoration: none;
}
.articles a p {

    text-decoration: none;
    color:darkgray;
    font-size:0.7em;
    font-weight: normal;
}

.articles a p:first-letter{
    text-transform: uppercase;
}

.articles a .badge{
	font-family: verdana;
	font-weight: normal;
}
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
.masonry,
.masonry .masonry-brick {
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
}

.masonry {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.masonry .masonry-brick {
	-webkit-transition-property: left, right, top;
	-moz-transition-property: left, right, top;
	-ms-transition-property: left, right, top;
	-o-transition-property: left, right, top;
	transition-property: left, right, top;
}