{% extends "base.html" %}

{% block body %}
<div class='span2' id='left-menu'>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="bahadircambel" data-size="large" data-related="pythonhackers">Tweet</a>
            <ul>

            </ul>
</div>
<div class="span10">
<article id="content_html" >
    <span class='pull-right article_date'>{{ publish_date }}</span>
    <span class='pull-right badge badge-info'>{{level}}</span>
     {% for tag in tags %}
            <span class='pull-right badge badge-warning'>{{tag}}</span>
            {% endfor %}
    {{content|safe}}

    <hr />
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-related="bahadircambel: Entreprenership 'n Programming " data-text='{{title}}'>Tweet</a>
    <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
    
    <div class="g-plusone" data-annotation="inline" data-width="200"></div>
</article>
</div>
{% endblock %}