{% extends "base.html" %}

{% block body %}
<article id="content_html" >
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-related="bahadircambel: Entreprenership 'n Programming " data-text='{{title}}'>Tweet</a>
<div class="g-plusone" data-annotation="inline" data-width="100"></div>

    <span class='pull-right article_date'>{{ publish_date }}</span>
    <span class='pull-right badge badge-info'>{{level}}</span>
     {% for tag in tags %}
            <span class='pull-right badge badge-warning'>{{tag}}</span>
            {% endfor %}
    {{content|safe}}

    <hr />
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-related="bahadircambel: Entreprenership 'n Programming " data-text='{{title}}'>Tweet</a>
    <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
    
    <div class="g-plusone" data-annotation="inline" data-width="200"></div>
</article>

{% endblock %}