{% extends "base.html" %}

{% block body %}
        <div class="articles row-fluid">
    {% for article in articles %}
        <h3 class="">
        <a href="/{{article.slug}}.html">
            {{article.title}}
            <span class='pull-left badge'>{{level}}</span>
            {% for tag in article.tags %}
            <span class='pull-left badge badge-warn'>{{tag}}</span>
            {% endfor %}
            <p>
                {{ article.description }}
            </p>
        </a>
        </h3>
     {% endfor %}
        </div>
{% endblock %}