{% extends "base.html" %}
<h3 class=""></h3>
{% block body %}
        <div class="articles row-fluid">
    {% for article in articles %}
        
        <a href="/{{article.slug}}.html">
            {{article.title}}
            <p>
                {{ article.description }}
            </p>
        <span class='pull-left badge badge-info'>{{level}}</span>
            {% for tag in article.tags %}
            <span class='pull-left badge badge-warn'>{{tag}}</span>
            {% endfor %}
            </a>
     {% endfor %}
        </div>
{% endblock %}