<!-- Begin MailChimp Signup Form -->
<div class="modal hide fade" id="mc_embed_signup">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Subscribe to weekly newsletter</h3>
  </div>
  <div class="modal-body">
    <form action="http://pythonarticles.us7.list-manage.com/subscribe/post?u=ec40ca305ad5132552f8666a7&amp;id=9a8469ed7f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
</form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn pull-left">Close</a>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
  </div>
</div>
<!--End mc_embed_signup-->